entrypoint = "grade_calculator/flasktest.py"
modules = ["python-3.12"]

hidden = [".pythonlibs"]

[nix]
channel = "stable-23_05"
packages = ["cacert", "coreutils", "geckodriver", "glibcLocales", "libffi", "pkg-config", "chromium", "chromedriver"]

[env]
LANG = "en_US.UTF-8"

[agent]
expertMode = true

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 44535
externalPort = 3000

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Flask App"

[[workflows.workflow]]
name = "Flask App"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python flasktest.py"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"
