<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login - Saint Peter's Prep</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body>
        <div class="login-container">
            <h2>Saint Peter's Prep<br>Grade Calculator</h2>
            {% if error %}
                <p class="error-message">{{ error }}</p>
            {% endif %}
            <form method="POST">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
                <button type="submit">Login</button>
            </form>
            <div class="loader"></div>
        </div>
    </body>
    <script>
        document.querySelector('form').addEventListener('submit', function() {
            document.querySelector('.loader').style.display = 'block';
        });
    </script>
    
</html>